<!DOCTYPE html>
<html>
  <head>
    <title>Comment-O</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>

  <body>
    <header>
    </header>
    <nav class="navbar is-transparent">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item navbar-redirect" href="/">
            <span class="title icon is-large" style="margin-bottom: unset;">
              <i class="fas fa-copyright" style="height: 2rem; width: 2rem"></i>
            </span>
            <h2 class="title">Comment-O</h2>
          </a>
          <div class="navbar-burger burger" data-target="transparent-navbar">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div id="transparent-navbar" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item navbar-redirect" href="/">
              Home
            </a>
            <a class="navbar-item navbar-redirect" href="/osers/all">
              Osers
            </a>
            <a class="navbar-item navbar-redirect" href="/comments/all">
              Comments
            </a>
          </div>

          <% if logged_in? %>
            <div class="navbar-end">
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link navbar-redirect" href="/osers/<%= current_oser.id %>">
                  <%= current_oser.username %>
                </a>
                <div class="navbar-dropdown is-boxed">
                  <a class="navbar-item navbar-redirect" href="/osers/<%= current_oser.id %>">
                    Profile
                  </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item navbar-redirect" href="#">
                    Preferences
                  </a>
                  <%= link_to "Log out", logout_path, method: :delete, class: "navbar-item has-text-danger" %>
                </div>
              </div>
            </div>
          <% else %>
            <div class="navbar-end">
              <a class="navbar-item navbar-redirect" href="/signup">
                Sign Up
              </a>
              <a class="navbar-item navbar-redirect" href="/login">
                Log In
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </nav>
    <%= yield %>
    <footer class="footer" id="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Comment-O</strong> by <a href="https://twitter.com/joshkuroda">Josh Kuroda</a>. The source code is licensed
            <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>. Questions? Leave a comment.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
