<!DOCTYPE html>
<html>
  <head>
    <title>Comment-O</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>

  <body>
    <header>
    </header>
    <nav class="navbar is-transparent">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <h2 class="title">Comment-O</h2>
          </a>
          <div class="navbar-burger burger" data-target="transparent-navbar">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div id="transparent-navbar" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">
              Home
            </a>
            <a class="navbar-item" href="/osers/all">
              Osers
            </a>
            <a class="navbar-item" href="/comments/all">
              Comments
            </a>
          </div>

          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="#">
                Oser
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" href="#">
                  Profile
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="#">
                  Preferences
                </a>
                <a class="navbar-item is-active" href="#">
                  Log out
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
    <footer class="footer" id="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Comment-O</strong> by <a href="https://twitter.com/joshkuroda">Josh Kuroda</a>. The source code is licensed
            <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>. Questions? Leave a comment.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
